* {
    background-color: #3e362e;
    color: #ac8968;
    font-family: 'Courier New', Courier, monospace;
}

body {
    width: 50%;
    margin: 10px 25% 0 25%;
}
.header {
    display: flex;
    margin: 0px auto;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 70px;
    height: 70px;
}

.title {
    text-align: center;
    font-size: 35px;
    color:#865d36;
    font-family: 'Copperplate';
}

.intro {
    font-size: 19px;
    text-align: justify;
}

.dot {
    color:#919caa;
}

.link {
    font-size: 20px;
    color: #a69080;
}

.link:hover {
    color: #eee2dc;
}