* {
    background-color: #3e362e;
    color: #ac8968;
    font-family: 'Courier New', Courier, monospace;
}
body {
    width: 50%;
    margin: 20px 25% 0 25%;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-button {
    width: 60px;
    height: 40px;
    margin: auto;
}
.title {
    text-align: center;
    color: #865d36;
    font-size: 35px;
    margin: -35px auto 0 auto;
}
.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h2 {
    color: #a69080;
}